html
    body
        h1 Image Repository
        p Act as user: 
            select
                option(value="mike") Mike
                option(value="frankie") Frankie
                option(value="rebecca") Rebecca
        p Images
            each image in images
                - var base64 = image.base64
                img(src='data:image/jpg;base64,' + base64)
